#rick, #morty, #pickleRick, #poopy, #summer, #jerry, .back {
  display: none;
}

body {
  background: url('../img/bg.jpg');
  background-position: cover;
  background-size: 110%;
  color: white;
  height: 100vh;
}

p {
  background-color: rgba(250, 250, 210, .8);
  padding: 20px;
  border-radius: 8px;
}

img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  color: #222;
  display: flex;
  flex-direction: column;
  background: url('../img/head.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 8px 20px #222;
}
#result {
  position: relative;
}
.back {
  position: absolute;
  z-index: 1;
  width: 140px;
  right: 0;
  top: 10px;
}
.back img {
  width: 100%;
}
.survey-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  background: url('../img/world.jpg');
  color: black;
  background-size: cover;
  margin-top: 20px;
}

.form-control {
  border-color: #444720;
  background-color: rgb(209,213,163);
}
